/*Write your style here*/
.conteiner{
	background: url(../images/banner.jpg);
	width: 100%;
	height: 800%;
}
.main{
	color: white;
	font-size: 15px;

}

.l{
	color: white;
	text-align: center;
	font-size: 40px;
	font: times new roma;

}
.p{
	color: white;
	text-align: center;
	font: arial;
	font-size: 15px;
}

.bont{
	background: #E84642;

}